/* ============================================================================= */
/* Mobile styling ============================================================== */
/* ============================================================================= */

@media (min-width: 320px) and (max-width: 768px) {
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

    :root{
        /* Button styling */
        --button-padding: 0.5em 0.8em;
        --button-border-radius: 0.3em;
    }

    /* Header styling */
    header #logo{
        padding: 0.5em 1.2em;
    }

    #logo svg {
        left: 13.8em;
    }

    #after-curve::before {
        left: 13.8em;
    }

    /* Toggle menu */

    .topnav {
        background: var(--grijs); 
        overflow: hidden;
    }

    .topnav a{
        padding: 0.8em 1em;
        display: block;
    }

    .topnav a:hover {
        background-color: var(--magenta);
        color: var(--grijs);
    }

    #primaire-nav{
        /* display: none; */
        padding-top: 2.5em;
    }

    .primaire-nav{
        display: none;
        /* padding-top: 2.5em; */
    }

    .topnav .show{
        display: block;
    }

    .menu-toggle a{
        padding: 0.55em 1em;
        color: white;
    }

    #menu-btn {
        background-color: rgba(256, 256, 256, 0);
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1em;
        margin-top: 0.5em;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border: none;
    }

    .menu-label{
        color: black;
        font-size: 0.6rem;
    }

    .fa-bars{
        color: var(--magenta);
    }

    /* Hero banner */
    #hero{
        padding: 1.5em;
    }

    .access-icon, .access-icon2{
        display: none;
    }

    /* Richtlijnen section */
    .spacing-span{
        height: 4.68em;
        margin-top: -4.68em;
    }

    .magenta{
        background: var(--gradient-magenta);
    }

    .title-magenta{
        color: var(--wit);
        margin-bottom: 0.5em;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
    }

    .p-magenta{
        color: var(--wit);
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
    }

    .p-white{
        color: var(--magenta);
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
    }

    .p-magenta strong a{
        color: var(--wit);
    }

    .p-white strong a{
        color: var(--magenta);
    }

    /* Waarom section */
    #waarom-toegankelijk{
        padding: 2em 1em;
    }

    #waarom-toegankelijk>.title-magenta{
        text-align: center;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
    }

    .card-title{
        margin-bottom: 0.5em;
    }

    /* Call to action hero */
    .check-container{
        align-items: flex-start;
        margin-top: 2em;
        gap: 1em;
    }

    .call-to-action{
        font-size: 1.4rem;
        float: left;
    }

    .cta-btn{
        font-size: 1rem;
    }

    /* Footer */
    .contact-container{
        flex-direction: column;
        justify-content: space-around;
    }

/*-------------------------RICHTLIJNEN-------------------------------*/

    .rl-card{
        padding: 0.5em 1em;
        box-shadow: -1px 5px 5px -7px #000000, 0px 0px 3px 2px rgb(0 0 0 / 0%);
    }

    .rl-card-extra{
        flex-direction: column;
        row-gap: 1em;
    }

    /* Back to top button */
    .top-arrow-outer{
        padding: 0.5em 0.7em;
        border-radius: 0.8em;  
    }

    .top-arrow-inner{
        width: 1.5em;
    }

} /* Einde mobile styling */