/* CSS Variabelen */
:root {
  /* Standaard kleuren */
    --magenta: #b9005f;
    --gradient-magenta: linear-gradient(to right, #b9005f, #e30059);
    --groen: #25ae93;
    --blauw: #606eb3;
    --grijs: #f3f3f3;
    --wit: #fff;
    --geel: #FFD05F;

  /* Button styling */
    --button-padding: 0.8em 1.6em;
    --button-border-radius: 0.3em;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: var(--grijs);
    height: 100%;
    font: 100%/1.4 'Fira Sans Regular', sans-serif;
}


